


@keyframes blink {
  0% { text-shadow: 0 0 0.938rem red; }
  50% { text-shadow: none; }
  100% { text-shadow: 0 0 0.938rem red; }
}

@-webkit-keyframes blink {
  0% { text-shadow: 0 0 0.938rem red; }
  50% { text-shadow: 0 0 0; }
  100% { text-shadow: 0rem 0 0.938rem red; }
}

.bookmaker-child-name {
  width: 40%;
  font-family: monospace;
  float: left;
  text-align: center;
  top: 50%;
  transform: translateY(50%);
}  

.bookmaker-child-content {
  width: 60%;
  font-family: monospace;
  float: left;
  text-align: center;
  
}

.bookmaker-child-end-of-block {
  border: none;
  height: 0.25rem;
  background-color: black;  
}

.bookmaker-child-sep {
  height: 0.25rem;
}


footer {
  position: fixed;
  background-color: rgb(207, 205, 205);
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem;
  text-align: center;
}

hr {
  width: 100%;
  height: 1rem;
  transform: translateY(150%);
}

html
  {
    overflow:scroll;    
  } 

.live {
  color: rgb(126, 11, 11);
  -webkit-animation: blink 2.0s linear infinite;
  -moz-animation: blink 2.0s linear infinite;
  -ms-animation: blink 2.0s linear infinite;
  -o-animation: blink 2.0s linear infinite;
  animation: blink 2.0s linear infinite;
}

.no-upcoming-message{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  font-size: 2rem;
  text-shadow: 0 0 1rem #4a4343;
}

.prop-text {
  display: inline;
}

.prop-text-best {
  color: green;
}

.prop-text-worst {
  color: red;
}
