.column-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem;
  border: 1px solid #110c0c;
  border-radius: 2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0% { text-shadow: 0 0 15px red; }
  50% { text-shadow: none; }
  100% { text-shadow: 0 0 15px red; }
}

@-webkit-keyframes blink {
  0% { text-shadow: 0 0 15px red; }
  50% { text-shadow: 0 0 0; }
  100% { text-shadow: 0px 0 15px red; }
}

.live {
  color: rgb(126, 11, 11);
  font-family: monospace;
  -webkit-animation: blink 2.0s linear infinite;
  -moz-animation: blink 2.0s linear infinite;
  -ms-animation: blink 2.0s linear infinite;
  -o-animation: blink 2.0s linear infinite;
  animation: blink 2.0s linear infinite;
}

.odds-button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1A1A1A;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}

.odds-button:disabled {
  pointer-events: none;
}

.odds-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.odds-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.odds-button-text {
  margin: auto;
  line-height: 1.25rem;
}

.nav-button:hover {
  background-color: rgb(207, 205, 205);
  border-radius: 15px;
}

.nav-button-selected{
  background-color: rgb(207, 205, 205);
  border-radius: 15px;
}

.game-text {
  font-family: monospace;
  font-size: 16px;
}

.state-dropdown {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.title-heading {
  font-size: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.navbar-custom {
  background-color: rgb(241, 238, 238);
  
}

.navbar-text-custom {
  font-family: monospace;
  border: none;
}

a:link{
  color: rgb(7, 10, 211);
  text-decoration: none;
}

a:visited {
  color: rgb(7, 10, 211);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(7, 10, 211);
  text-decoration: none;
}